body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

li {
  list-style: none;
}

#capitel {
  width: 400px;
}

.font-big {
  font-size: 40pt;
}

.float-right {
  float: right;
}

.animation-box {
  height: 780px;
  width: 780px;
  background: #fafafa;
}

#step2-contianer {
  margin-top: 350px;
}

#step-4 img {
  height: 230px;
}

#step-1-bandage {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
}

#step-5-container {
  margin-top: 130px;
}

#step-5 img {
  height: 185px;
}

#step-6 img {
  margin-top: 15px;
  width: 250px;
  margin-left: 6px;
}